* {
    box-sizing: border-box;
}

/* ---------header-------------*/

Header {
    border: 2px solid green;


}

header #hero-news {
    padding: 4em;
}

header li {
    list-style: none;
}
 
#toggle {
    display: none;
}

/*--------- Navigation------------*/
nav {
    border: 2px solid red;
    
    
}

nav ul {
    list-style: none;
    padding-left: 0;
    margin: 0 auto;
    
}

nav ul li {
    background-color: rgb(162, 207, 216);
    border: 1px solid rgb(95, 124, 130);
    padding: 1.5em;
   
    
    
}

nav li a {
    text-decoration: none;
    color: black;
      
}

/* --------main----------*/

h2 {
    text-align: center;
}

section {
    padding: 3em;
}

/* Sections */
#activities-excursions {
    border: 3px solid red;
}

#adventure {
    border: 3px solid blue
}

#local {
    border: 3px solid green;
}

#cultural {
    border: 3px solid yellow;
}

#wildlife {
    border: 3px solid orange;
}

#booking {
    border: 3px solid violet;
}



@media screen and (max-width: 768px) {
    header {
        flex-direction: column;
       text-align: center;
    }

    main {
        display: grid;
        grid-template-columns: 1fr;
        gap: 2em;
    }

    nav {
        display: none;
        position: absolute;
        top: 100%;
        z-index: 100%;
        left: 0;
        width: 100%;
        
    }

    nav.active {
        display: block;
    }

    #toggle {
        background-color: rgb(162, 207, 216) ;
        width: 100%;
        padding: 3em;
        display: block;
    }

 

}

@media screen and (min-width: 768px) {
    header {
     text-align: center;
    }
 
    nav ul {
     background-color:rgb(162, 207, 216) ;
     
    }
 
     nav ul li {
         display: inline-block;
         border: none;
         margin: 1em;
     }
 
     main {
         display: grid;
         grid-template-columns: 1fr 1fr; 
         gap: 2em;
 
     }
 
     :first-child {
         grid-column: span 2;
     }
 
 }


@media screen and (min-width: 1200px) {
   header {
    text-align: center;
   }

   nav ul {
    background-color:rgb(162, 207, 216) ;
    
   }

    nav ul li {
        display: inline-block;
        border: none;
        margin: 1em;
    }

    main {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr; 
        gap: 2em;

    }

    :first-child {
        grid-column: span 3;
    }

}



