* {
    box-sizing: border-box;
}

/* ---------header-------------*/

Header {
    
    
}

#logo {
    width: 500px;
}

#weather {
    color: white;
    font-size: 1em;
}
header #hero-news {
    background-image: url(/images/photos/hotel2\ iphone.jpg);
    padding: 4em;
    display: flex;
    justify-content: center;
    opacity: 90%;
}

header li {
    list-style: none;
}
 
#toggle {
    display: none;
}

/*--------- Navigation------------*/
nav {
       
    
}

nav ul {
    list-style: none;
    padding-left: 0;
    margin: 0 auto;
    
}

nav ul li {
    background-color: f8ebc3; 
    padding: 1.5em;
   
        
}

nav li a {
    text-decoration: none;
    color: black;
      
}

nav li a:hover {
    color: white;
    font-size: 2em;
}

/* --------main----------*/

h2 {
    text-align: center;
}

section {
    padding: 3em;
    text-align: center;
    box-shadow: 1px 2px 3px 4px rgba(20, 20, 20, 0.4);
}

section:first-child {
    box-shadow: none;
}

h3 {
    text-align: center;
}


/* Sections */
#activities-excursions {
    
}

#adventure {
    
}

#local {
    
}

#cultural {
    
}

#wildlife {
    
}

#booking {
    
}

em {
    text-align: center;
    padding-bottom: 4em;
    font-size: 1.5em;
}

/*------footer-------*/

footer {
    background-color: rgb(162, 207, 216);
    padding: 3em;
    margin: 0 auto;
    text-align: center;
    color: black;

}



@media screen and (max-width: 768px) {
    header {
       text-align: center;
    }

    header #hero-news {
        display: grid;
    }

    main {
        display: grid;
        grid-template-columns: 1fr;
        gap: 2em;
    }

    nav {
        display: none;
        position: absolute;
        width: 97%;
      
    }

    nav.active {
        display: block;
    }

    #toggle {
        background-color: f8ebc3;
        width: 100%;
        padding: 3em;
        display: block;
    }

 

}

@media screen and (min-width: 768px) {
    header {
     text-align: center;
     
    }

    header #hero-news {
        background-image: url(/images/photos/hotel2\ ipad.jpg);
        padding: 11em;
    
    }

    #weather {
        display: none;
    }

  
    
    #logo {
        width: 700px;
    }


 
    nav ul {
     background-color:f8ebc3 ;
     
    }
 
     nav ul li {
         display: inline-block;
         border: none;
         margin: 1em;
     }
 
     main {
         display: grid;
         grid-template-columns: 1fr 1fr; 
         gap: 2em;
 
     }
 
     :first-child {
         grid-column: span 2;
     }

     :last-child {
        grid-column: span 2;
       
     }
 
 }


@media screen and (min-width: 1000px) {
   header {
    text-align: center;

   }

   header #hero-news {
    padding: 20em;
    background-image: url(/images/photos/hotel2\ full.jpg);

   }

   #logo {
    width: 1000px;
   }

   nav ul {
    background-color:f8ebc3 ;
    
   }

    nav ul li {
        display: inline-block;
        border: none;
        margin: 1em;
    }

    main {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr; 
        gap: 2em;

    }

    :first-child {
        grid-column: span 3;
    }

    :last-child {
        grid-column: span 3;
    }

}



