* {
    box-sizing: border-box;
}

/* ---------header-------------*/

Header {
    border: 2px solid green;


}

header #hero {
    padding: 4em;
}

header li {
    list-style: none;
}

button {
    display: none;
}
 
/*--------- Navigation------------*/
nav {
    border: 2px solid red;
    
    
}

nav ul {
    list-style: none;
    padding-left: 0;
    margin: 0 auto;
    
}

nav ul li {
    background-color: rgb(162, 207, 216);
    border: 1px solid rgb(95, 124, 130);
    padding: 1.5em;
   
    
    
}

nav li a {
    text-decoration: none;
    color: black;
      
}




/* ----------Main --------------*/

main {
    border: 2px solid blue;
    padding: 3em;
    display: grid;
    gap: 1em;
}

/*  main stuf*/

#main {
    border: 2px solid red;
    padding: 2em;
}

/* --------Reccomendations ----------*/

#recommendations {
    border: 2px solid pink;
    padding: 2em;
}

/* ---------guests --------------*/

#guests {
    border: 2px solid yellow;
    padding: 2em;
}

#guests p {
    border: 1px solid black;
    padding: 2em;
    max-width: 768px;
   
}



#more-testimonials {
    display: none;
}

/*------footer-------*/

footer {
    background-color: rgb(162, 207, 216);
    padding: 3em;
    margin: 0 auto;
    text-align: center;
    color: black;

}

@media screen and (max-width: 768px) {
    header {
        flex-direction: column;
       text-align: center;
       position: relative;
    }

    nav {
        display: none;
        position: absolute;
        top: 100%;
        z-index: 100%;
        left: 0;
        width: 100%;
        
    }

    nav.active {
        display: block;
    }

    button {
        background-color: rgb(162, 207, 216) ;
        width: 100%;
        padding: 3em;
        display: block;
    }

 

}

@media screen and (min-width: 768px ) {
    header {
        text-align: center;
       }
    
       nav ul {
        background-color:rgb(162, 207, 216) ;
        
       }
    
        nav ul li {
            display: inline-block;
            border: none;
            margin: 1em;
        }
}

@media screen and (min-width: 1000px) {
   header {
    text-align: center;
   }

   nav ul {
    background-color:rgb(162, 207, 216) ;
    
   }

    nav ul li {
        display: inline-block;
        border: none;
        margin: 1em;
    }

    main {
        display: grid;
        grid-template-columns: 1.75fr 1fr;

    }


    #recommendations {
        grid-row: span 2;
       
    }
   
}
   
   

   