* {
    box-sizing: border-box;
}

/* ---------header-------------*/

Header {
    border: 2px solid green;
    display: flex;
    flex-direction: column;
    text-align: center;

}

header #hero {
    padding: 4em;
}

header li {
    list-style: none;
}
 
/*--------- Navigation------------*/
nav {
    border: 2px solid red;
    
}

nav ul {
    list-style: none;
    padding-left: 0;
    margin: 0 auto;
}

nav ul li {
    background-color: rgb(162, 207, 216);
    border: 1px solid rgb(95, 124, 130);
    padding: 1.5em;
    width: 100%;
    
}

nav li a {
    text-decoration: none;
      
}


/* ----------Main --------------*/

main {
    border: 2px solid blue;
}

#recommendations {
    border: 2px solid pink;
}

#guests {
    border: 2px solid yellow;
}